@using AskMateWebApp.Domain
@model List<Question>
@{
    ViewData["Title"] = "Questions";
}
<h1>@ViewData["Title"]</h1>
<ul>
    @foreach (var q in Model)
    {
        <li>
            <h2>@q.Title</h2>
        </li>
    }
</ul>
