@model QuestionListModel
@{
    ViewData["Title"] = "Latest Questions";
}
<h1>@ViewData["Title"]</h1>
<div class="container">
    @foreach (var q in Model.Questions)
    {
        <partial name="_QuestionPartial" for="@q" />
    }
</div>
