@model QuestionListModel
@{
    ViewData["Title"] = "Questions";
}
<h1>@ViewData["Title"]</h1>
<div>
    <a asp-controller="Questions" asp-action="Add">Add question</a>
</div>
<div class="sort-buttons">
    <small class="text-muted">
        Sort by title <a asp-route-sort="Title" asp-route-ascending="true" sort>&utrif;</a>/<a asp-route-sort="Title" asp-route-ascending="false" sort>&dtrif;</a>,
        submission time <a asp-route-sort="SubmissionTime" asp-route-ascending="true" sort>&utrif;</a>/<a asp-route-sort="SubmissionTime" asp-route-ascending="false" sort>&dtrif;</a>
        views <a asp-route-sort="ViewNumber" asp-route-ascending="true" sort>&utrif;</a>/<a asp-route-sort="ViewNumber" asp-route-ascending="false" sort>&dtrif;</a>
        or votes <a asp-route-sort="VoteNumber" asp-route-ascending="true" sort>&utrif;</a>/<a asp-route-sort="VoteNumber" asp-route-ascending="false" sort>&dtrif;</a>
    </small>
</div>
<hr />
<div class="container">
    @foreach (var q in Model.Questions)
    {
        <partial name="_QuestionPartial" for="@q" />
    }
</div>
