@model List<QuestionListItemModel>
@{
    ViewData["Title"] = "Questions";
}
<h1 class="display-4">@ViewData["Title"]</h1>
<ul>
    @foreach (var q in Model)
    {
        <li>
            <a asp-controller="Questions" asp-action="Details" asp-route-id="@q.Id">@q.Title</a>
        </li>
    }
</ul>
<a asp-controller="Questions" asp-action="Add">Add question</a>
